.webcam{
    position: absolute;
    margin: 0 auto;
    top : 0;

    text-align: center;
    z-index: 10;
    width: 660px;
    height: 480px;

}
.cam-box{
    display: flex;
    justify-content: center;
}

.canvas{
    position: absolute;
    margin: 0 auto;
    top : 0;
    text-align: center;
    z-index: 10;
    width: 660px;
    height: 480px;
    
}